p{
    font-family: sans-serif;
    font-size: 19px;
    padding-left: 25px;
    
}
h2{
    font-family: sans-serif;
}
#estilo1{
    color: rgb(26, 158, 0);
    padding-left: 10px;
}
#estilo2{
    color: rgb(0, 46, 172);
    padding-bottom: 0px;
    margin-bottom:5px;
}
#time{
    font-size: 13px;
    padding-top: 0px;
    margin-top: 5px;
}
