* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
}

.container {
    background-color: beige;
    margin: 10px 0;
    padding: 20px;
}

.header {
    margin: 0 0 20px
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: rgb(238, 231, 199);
    color: black;
    font-weight: bold;
    font-size: 18px;
}

tr:hover {
    background-color: #f5f5f5;
}

caption {
    font-size: 1.5em;
    margin: 10px 0;
    font-weight: bold;
}

h1 {
    text-align: center;
}

.button {
    padding: 8px 12px;
    margin: 0 15px;
    border-radius: 15px;
    background-color: white;
    font-size: 16px;
    color: white;
}

#addbtn {
    background-color: green;
}

#removebtn {
    background-color: red;
}

#editbtn {
    background-color: darkblue;
    
}